.contCardShow {
  width: 400px;
  position: relative;
  .contShow {
    font-size: 16px;
    button {
      width: 100%;
      background-color: #202020;
      border: none;
      color: #fff;
      padding: 10px 0px;
      font-size: 1.5em;
      cursor: pointer;
    }
  }
  .contOperations {
    font-size: 16px;
    button {
      width: 50%;
      border: none;
      color: #fff;
      padding: 5px 0px;
      cursor: pointer;
      transition: .5s ease all;
      font-size: 1.3em;
      background-color: #303030;
      &:nth-child(2) {
        color: #ff0000;
      }
      &:hover {
        background-color: #000;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .contCardShow {
    width: 100%;
  }
}