.contCardTorneo {
  max-width: 500px;
  width: 100%;
  overflow: hidden;
  .contInfo {
    background-color: #303030;
    padding: 20px;
    border-radius: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2 {
      color: #6fffe9;
      text-align: center;
      font-size: 2em;
      text-transform: capitalize;
    }
    h3 {
      font-size: 1.5em;
      color: #ff2a78;
      text-transform: capitalize;
      span {
        color: #6fffe9;
        font-size: 1.5em;
        margin-left: 20px;
      }
    }
    .seccion {
      display: flex;
      justify-content: space-between;
      h4 {
        font-size: 1.3em;
        font-family: sans-serif;
        color: #d6d6d6;
      }
    }
    .btnInscripcion {
      font-size: 1.2em;
      padding: 5px 10px;
      border: 2px solid #6fffe9;
      color: #6fffe9;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.5s ease all;
      text-decoration: none;
      text-align: center;
      &:hover {
        background-color: #6fffe9;
        color: #000;
      }
    }
  }
}
